body {
    margin: 0;
    padding: 0;
    background-image: url('t1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Satisfy", sans-serif;
    /* Prevent scrolling while dragging */
    overflow: hidden;
}

#moon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 110px;
}

#cresent {
    position: absolute;
    top: 48px;
    left: 76px;
    width: 40px;
    height: 40px;
}

#star-shadow {
    position: absolute;
    top: 46px;
    left: 74px;
    width: 40px;
    height: 40px;
    /* twinkle animation */
    opacity: 0.7;
    animation: twinkling 0.9s infinite alternate ease-in-out;
}

@keyframes twinkling {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.7;
    }
}

#star {
    position: absolute;
    width: 35px;
}

#movable-element {
    position: absolute;
    top: 20px;
    right: 35px;
    width: 35px;
}

#greeting1 {
    text-align: center;
    font-size: 50px;
    position: relative;
    bottom: 60px;
    opacity: 0;
    transition: opacity 1s ease-in;
    font-family: "Sacramento", sans-serif;
}

#greeting2 {
    text-align: center;
    font-size: 18px;
    position: relative;
    bottom: 80px;
    padding: 20px;
}

.hidden {
    opacity: 0;
}

.arrow {
    width: 50px;
    height: 50px;
    font-size: 65px;
    position: absolute;
    top: 62px;
    right: 45px;
    transform: translate(-50%, -50%) rotate(-188deg);
    animation: twinkling 0.9s infinite alternate ease-in-out;
}


.hide {
    display: none;
}

.show {
    display: block;
}