body {
    margin: 0;
    padding: 0;
    background-image: url('t1.png') ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
}

#moon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px; /* Adjust the width as needed */
}

#greeting1, #greeting2 {
    text-align: center;
    font-size: 24px;
    margin: 10px;
}